# Налаштування середовища розробки
.idea/

.venv/
venv/
env/

# Кеш Python
__pycache__/
*.pyc

# Ваги нейромереж (YOLO тощо)
*.pt
*.onnx

# Згенеровані кадри
server/storage/frames/*
!server/storage/frames/.gitkeep

# Секрети та конфігурація
server/serviceAccountKey.json
server/config.json
